.wrapper {
    background-image: url("https://wallpapercave.com/wp/wp5123161.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 30vh;
}